modules = ["python-3.11", "postgresql-16"]
[agent]
expertMode = true
integrations = ["web_scraper:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["cairo", "dbus", "ffmpeg-full", "fontconfig", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "pkg-config", "qhull", "tcl", "tk", "xcodebuild", "xorg.libX11", "xorg.libXext", "xorg.libXrender", "xorg.libxcb", "xvfb-run", "zlib", "zstd"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "SmartXFlow Test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "SmartXFlow Web"

[[workflows.workflow]]
name = "SmartXFlow Test"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python test_scraper.py"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "SmartXFlow Web"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[userenv]

[userenv.shared]
ARBWORLD_COOKIES = "Betfair=shown--; _ga=GA1.1.1542665487.1743766120; PHPSESSID=17727519e475de1f11dd15baebbd9ab0; _ga_G52Q1M2G10=GS2.1.s1763999988$o450$g0$t1763999988$j60$l0$h0"
SUPABASE_URL = "https://pswdvnmqjjnjodwzkmkp.supabase.co"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBzd2R2bm1xampuam9kd3prbWtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Mjc3MDQ3MywiZXhwIjoyMDc4MzQ2NDczfQ.46I4uSnFFn0STeR5zY-KiuS798_NJl0KiHa2-ef5Xzs"
COOKIE_STRING = "FCNEC=%5B%5B%22AKsRol_FbFM4-_5I284lzPHjFMSw_YMHo0DSgfdxUcJQS95GehnQ1B6F64_zWYBRFYEdKl7vdwPsFC6744U1tEKvMGecBWZvCEIZ0Xl3UhpSrpFwgipij-oiPExlDTLy0zOT4dOa_qXRXFx5OJJwnint5afnjqgHqA%3D%3D%22%5D%5D; FCCDCF=%5Bnull%2Cnull%2Cnull%2Cnull%2Cnull%2Cnull%2C%5B%5B32%2C%22%5B%5C%22b1888239-b3f2-4150-b8f4-60bbac8089fb%5C%22%2C%5B1762615634%2C569000000%5D%5D%22%5D%5D%5D; clever-counter-51036=0-1; PHPSESSID=b5326321ec0650ca9c1433f9a640dddd"
DISABLE_SCRAPER = "true"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33333
externalPort = 3000

[[ports]]
localPort = 33391
externalPort = 8080

[[ports]]
localPort = 34739
externalPort = 8099

[[ports]]
localPort = 34821
externalPort = 5000

[[ports]]
localPort = 35915
externalPort = 3003

[[ports]]
localPort = 35957
externalPort = 3002

[[ports]]
localPort = 39727
externalPort = 6000

[[ports]]
localPort = 41423
externalPort = 3001

[[ports]]
localPort = 42675
externalPort = 5173

[[ports]]
localPort = 43827
externalPort = 8081

[[ports]]
localPort = 44075
externalPort = 4200

[[ports]]
localPort = 44851
externalPort = 8000

[[ports]]
localPort = 46111
externalPort = 6800

[[ports]]
localPort = 46175
externalPort = 8008

[[ports]]
localPort = 46209
externalPort = 9000
