modules = ["python-3.11"]
[agent]
expertMode = true
integrations = ["web_scraper:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "SmartXFlow App"

[[workflows.workflow]]
name = "SmartXFlow App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[workflows.workflow.metadata]
outputType = "console"

[userenv]

[userenv.shared]
ARBWORLD_COOKIES = "Betfair=shown--; _ga=GA1.1.1542665487.1743766120; PHPSESSID=17727519e475de1f11dd15baebbd9ab0; _ga_G52Q1M2G10=GS2.1.s1763999988$o450$g0$t1763999988$j60$l0$h0"
